.idea/
bin/
venv/

# Byte-compiled / optimized / DLL files
*.wasm

# Secrets #
###########
*.pem
*.key
*_rsa

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.pyc

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases #
######################
*.log
*.sqlite
pip-log.txt

